@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: 'NTR', 'Roboto', 'slab';
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}

.padd-container {
    padding: 15px 10%;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.logo {
    text-decoration: none;
    color: orange;
    font-weight: 900;
    font-size: x-large;
    margin-left: auto;
}

.far-right-header {
    margin: 0 auto;
}

ul {
    margin-left: auto;
}

.flex-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info {
    margin: 50px auto;
    gap: 30px;
}

.main-info-details {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    gap: 10px;
}

.btn-read-more {
    background-color: #FF6D23;
    color: #FFEDEE;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
}

.btn-order-now {
    background-color: transparent;
    border: 0.5px solid #FF6D23;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FF6D23
}

button {
    display: inline-block;
    font-weight: bold;
}

.header-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454a52;
    align-self: stretch;
    width: 100%;
}

.box {
    border-radius: 5px;
    width: 130px;
    height: 130px;
    border: 2px solid #3882f6;
    color: #f9faf8;
    margin: 10px auto;
}

section h1 {
    text-align: center;
}

section p {
    text-align: center;
}

.mid-images {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20% 30px;
}

.lower-hlf-cupcakes {
    mask-image: linear-gradient(90deg, black 30%, transparent 100%);
}